body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Comic Sans MS', sans-serif
}

.container {
	width: 80%;
	margin: 0 auto;
}

.wrapper {
	background: #efefef;
	padding-top: 100px
}

.card {
	display: flex;
	justify-content: space-between;
}

.photo {
	width: 100%;
	height: 300px;
	border: 1px solid silver;
	box-shadow: 0 0 10px rgba(200,200,200,.5)
}


.flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.r-block {
	padding: 0 30px
}

.l-flexbox {
	display: flex;
}

.l-flexbox h5 {
	margin-right: 30px;
	text-decoration:line-through;
}

.
