@font-face {
  font-family: 'FontsFree-Net-SFProDisplay-Regular', sans-serif;
  src: url(../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'ProximaNova-Bold',sans-serif;
  src: url(../assets/fonts/proxy/ProximaNova-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'ProximaNova-Regular',sans-serif;
  src: url(../assets/fonts/proxy/ProximaNova-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'ProximaNova-Light',sans-serif;
  src: url(../assets/fonts/proxy/ProximaNova-Light.ttf) format("truetype"); }
@font-face {
  font-family: 'ProximaNova-SemiBold',sans-serif;
  src: url(../assets/fonts/proxy/ProximaNova-Semibold.ttf) format("truetype"); }
.font-family-sf {
  font-family: 'FontsFree-Net-SFProDisplay-Regular', sans-serif; }

.font-family-bold {
  font-family: 'ProximaNova-Bold', sans-serif; }

.font-family-regular {
  font-family: 'ProximaNova-Regular', sans-serif; }

.font-family-light {
  font-family: 'ProximaNova-Light', sans-serif; }

.font-family-semibold {
  font-family: 'ProximaNova-SemiBold', sans-serif; }

.icon {
  width: 21px;
  height: 20px;
  mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  background-color: #000000;
  display: inline-block; }
  .icon.icon-burger {
    mask-image: url(../assets/icon/burger.svg);
    -webkit-mask-image: url(../assets/icon/burger.svg); }
  .icon.icon-aif {
    mask-image: url(../assets/icon/aif.svg);
    -webkit-mask-image: url(../assets/icon/aif.svg); }
  .icon.icon-kirish {
    mask-image: url(../assets/icon/kirish.svg);
    -webkit-mask-image: url(../assets/icon/kirish.svg); }
  .icon.icon-next {
    mask-image: url(../assets/icon/next.svg);
    -webkit-mask-image: url(../assets/icon/next.svg); }
  .icon.icon-ecma {
    mask-image: url(../assets/icon/ecma.svg);
    -webkit-mask-image: url(../assets/icon/ecma.svg); }
  .icon.icon-table-next {
    mask-image: url(../assets/icon/table-next.svg);
    -webkit-mask-image: url(../assets/icon/table-next.svg); }
  .icon.icon-circle {
    mask-image: url(../assets/icon/circle.svg);
    -webkit-mask-image: url(../assets/icon/circle.svg); }
  .icon.icon-circle-full {
    mask-image: url(../assets/icon/circle-full.svg);
    -webkit-mask-image: url(../assets/icon/circle-full.svg); }

.image {
  width: 200px;
  height: 200px;
  mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  display: inline-block; }
  .image.image-alfa {
    mask-image: url(../assets/image/alfabank.png);
    -webkit-mask-image: url(../assets/image/alfabank.png); }
  .image.image-java {
    mask-image: url(../assets/icon/java.svg);
    -webkit-mask-image: url(../assets/icon/java.svg); }
  .image.image-android {
    mask-image: url(../assets/icon/android.svg);
    -webkit-mask-image: url(../assets/icon/android.svg);
    background-color: #31DF84; }
  .image.image-js {
    mask-image: url(../assets/icon/js.svg);
    -webkit-mask-image: url(../assets/icon/js.svg); }
  .image.image-py {
    mask-image: url(../assets/icon/py.svg);
    -webkit-mask-image: url(../assets/icon/py.svg); }

html {
  font-size: 16px; }
  html body {
    overflow-x: hidden;
    width: 100%; }
    html body .spiner {
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
      z-index: 1211;
      background-color: #fff;
      overflow: hidden; }
      html body .spiner .circle {
        position: absolute;
        animation: loader1 2s ease-in-out infinite;
        left: 48%;
        top: 51%; }
      html body .spiner .second-line {
        transform: translateX(20px); }
      html body .spiner .line {
        margin-left: 15px;
        animation: loader2 2s ease-in-out infinite; }
@keyframes loader1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes loader2 {
  0% {
    transform: translateX(-35px); }
  100% {
    transform: translateX(0);
    opacity: 1; } }
    html body h1, html body h2, html body h3, html body h4, html body h5, html body h6, html body p {
      margin-bottom: 0 !important; }
    html body ul, html body li {
      list-style: none;
      padding: 0;
      margin: 0; }
    html body a {
      color: #000000; }
      html body a:hover {
        color: #000000;
        text-decoration: none; }
    html body .header {
      padding: 20px 0;
      background-color: #F8F8FA; }
      html body .header p {
        font-size: 15px;
        line-height: 18px;
        color: #6C6C6C;
        position: relative;
        transition: all .5s ease-in-out;
        cursor: pointer;
        font-weight: 600; }
        html body .header p:first-child {
          margin-right: 108px; }
        html body .header p::after {
          content: '';
          position: absolute;
          width: 195px;
          height: 3px;
          background-color: #DE1E3A;
          left: 0;
          top: -19px;
          transform: scaleX(0);
          transform-origin: left;
          transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
        html body .header p::before {
          content: '';
          position: absolute;
          width: 195px;
          height: 3px;
          background-color: #D6D6E0;
          left: 0;
          top: -19px;
          transform: scaleX(1); }
        html body .header p:hover {
          color: #000000; }
        html body .header p:hover::after {
          transform: scaleX(1);
          transform-origin: right;
          background-color: #DE1E3A; }
    html body .nav {
      margin: 35px 0;
      position: fixed;
      left: 0;
      top: 58px;
      width: 100%;
      display: none;
      transition: all .7s ease-in-out; }
      html body .nav.active {
        top: 0;
        background: #fff;
        z-index: 111;
        margin: 0;
        padding: 15px 0;
        box-shadow: 0 3px 10px #c0c0c0a3;
        display: none; }
      html body .nav span img {
        margin-right: 89px; }
      html body .nav .nav-div {
        display: flex;
        align-items: center;
        padding: 15px 23px;
        border: 1px solid #E6E6E6;
        filter: drop-shadow(0px 11px 14px rgba(0, 0, 0, 0.0339543)); }
        html body .nav .nav-div a {
          font-size: 16px;
          line-height: 19px;
          font-weight: 500; }
        html body .nav .nav-div span {
          margin-right: 13px;
          width: 14px;
          height: 13px; }
    html body section {
      margin-top: 125px;
      color: #ffffff;
      background-color: #003846; }
      html body section .myRow {
        padding: 138px 0; }
        html body section .myRow .main-img {
          right: 0px;
          top: 0px; }
          html body section .myRow .main-img img {
            width: 586px;
            height: 794px; }
        html body section .myRow h1 {
          margin-bottom: 18px !important;
          font-weight: 600;
          font-size: 60px;
          line-height: 60px; }
        html body section .myRow p {
          font-size: 22px;
          line-height: 33px;
          font-weight: 300; }
      html body section .card {
        background-color: #F8F8FA;
        transition: all .3s ease-in-out;
        cursor: pointer; }
        html body section .card .card-body {
          padding: 39px 50px 73px 49px;
          transition: all .3s ease-in-out; }
          html body section .card .card-body .icon {
            width: 32px;
            height: 19px;
            position: absolute;
            background: #fff;
            bottom: -35px;
            left: -30px;
            transition: all .5s ease-in-out;
            transition-delay: .3s;
            opacity: 0; }
          html body section .card .card-body div .image-java {
            background-color: rgba(255, 0, 0, 0.808); }
          html body section .card .card-body div .image {
            transition: all .4s ease-in-out;
            transform: translateY(40px); }
          html body section .card .card-body div p {
            font-size: 23px;
            line-height: 30px;
            transition: all .5s ease-in-out;
            color: #A0A0A1;
            transform: translateY(30px); }
        html body section .card:hover {
          background-color: #0A4958;
          transform: scale(1.005); }
          html body section .card:hover div P {
            color: #fff !important;
            transform: translateY(0); }
          html body section .card:hover .image {
            background-color: #fff !important; }
          html body section .card:hover .icon {
            left: 0;
            opacity: 1; }
    html body .kurslar h3 {
      font-size: 35px;
      line-height: 35px; }
    html body .kurslar .card {
      background-color: #F8F8FA;
      transition: all .3s ease-in-out;
      cursor: pointer; }
      html body .kurslar .card .card-body {
        padding: 39px 50px 73px 49px;
        transition: all .3s ease-in-out; }
        html body .kurslar .card .card-body .piton {
          display: block;
          padding: 41px 20px 23px 0;
          transform: translateY(30px); }
        html body .kurslar .card .card-body .icon {
          width: 32px;
          height: 19px;
          position: absolute;
          background: #fff;
          bottom: -35px;
          left: -30px;
          transition: all .5s ease-in-out;
          transition-delay: .3s;
          opacity: 0; }
        html body .kurslar .card .card-body div .image-java {
          background-color: rgba(255, 0, 0, 0.808); }
        html body .kurslar .card .card-body div .image {
          transition: all .4s ease-in-out;
          transform: translateY(40px); }
        html body .kurslar .card .card-body div p {
          font-size: 23px;
          line-height: 30px;
          transition: all .5s ease-in-out;
          color: #A0A0A1;
          transform: translateY(30px); }
      html body .kurslar .card:hover {
        background-color: #0A4958;
        transform: scale(1.005); }
        html body .kurslar .card:hover div P {
          color: #fff !important;
          transform: translateY(0); }
        html body .kurslar .card:hover .image {
          background-color: #fff !important; }
        html body .kurslar .card:hover .icon {
          left: 0;
          opacity: 1; }
    html body .kurslar .cards {
      transform: translateX(-80px); }
    html body .kurslar-row {
      padding: 36px 0 53px 0; }
      html body .kurslar-row a {
        display: block;
        width: 105px;
        margin: 0 auto;
        opacity: 0.7;
        border-bottom: 1px solid #979797;
        font-size: 18px;
        line-height: 30px; }
    html body .table {
      font-family: 'ProximaNova-Regular', sans-serif;
      margin-top: 53px;
      font-size: 16px;
      line-height: 22px;
      color: #6C6C6C !important; }
      html body .table thead th {
        border: 0; }
      html body .table .table-body .icon-ecma {
        width: 76px !important;
        height: 17px !important;
        transition: all .5s ease-in-out; }
      html body .table .table-body .icon-table-next {
        width: 32px;
        height: 19px;
        transition: all .5s ease-in-out; }
      html body .table .table-body .icon-aif {
        width: 55px;
        height: 27px;
        transition: all .5s ease-in-out; }
      html body .table .table-body .main-text {
        font-size: 20px !important;
        line-height: 22px;
        color: #000000 !important;
        transition: all .5s ease-in-out;
        padding-left: 15px; }
      html body .table .table-body tr {
        cursor: pointer;
        transition: all .5s ease-in-out; }
        html body .table .table-body tr td {
          padding: 25px 11px 20px; }
        html body .table .table-body tr:hover {
          background-color: #0A4958;
          color: #ffffff; }
          html body .table .table-body tr:hover .icon-table-next {
            background-color: #ffffff; }
          html body .table .table-body tr:hover .icon-ecma {
            background-color: #ffffff; }
          html body .table .table-body tr:hover .icon-aif {
            background-color: #ffffff; }
          html body .table .table-body tr:hover .main-text {
            color: #ffffff !important; }
    html body .biz {
      background-color: #F8F8FA; }
      html body .biz h4 {
        padding: 78px 0 31px 0;
        width: 25%;
        font-size: 35px;
        line-height: 48px; }
      html body .biz .carousel-indicators {
        bottom: 71px;
        left: 46px; }
        html body .biz .carousel-indicators li {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid silver;
          background-color: #fff; }
          html body .biz .carousel-indicators li.active {
            background: #2F2F2F; }
      html body .biz .carousel-item.active {
        position: relative; }
      html body .biz .carousel-item .col-10 {
        height: 414px;
        padding: 30px 65px; }
        html body .biz .carousel-item .col-10 span {
          transform: translateX(-23px) translateY(-25px); }
        html body .biz .carousel-item .col-10 p {
          font-size: 22px;
          line-height: 33px;
          color: #6C6C6C;
          width: 63%; }
        html body .biz .carousel-item .col-10 h3 {
          font-size: 18px;
          line-height: 21px;
          color: #2F2F2F;
          margin-bottom: 6px !important; }
        html body .biz .carousel-item .col-10 .myImg {
          position: absolute;
          top: 40px;
          right: -140px; }
        html body .biz .carousel-item .col-10 .secondImg {
          position: absolute;
          right: -164px;
          top: 97px;
          opacity: 0.7;
          border-radius: 3px; }
    html body .filial {
      background-color: #F8F8FA; }
      html body .filial h4 {
        padding: 115px 0 35px 0;
        font-size: 35px;
        line-height: 48px;
        width: 50%; }
      html body .filial .image {
        background-color: #838384;
        width: 150px;
        height: 50px; }
    html body footer {
      background-color: #F8F8FA;
      padding: 20px 0 63px 0; }
      html body footer h5 {
        margin-bottom: 25px !important;
        font-size: 18px;
        line-height: 18px; }
      html body footer h4 {
        font-weight: bold;
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 12px !important; }
      html body footer .nav-link {
        padding-left: 0;
        font-size: 14px;
        line-height: 30px;
        color: #6C6C6C; }
  html .animate-row {
    opacity: 0;
    transform: translateY(100px);
    transition: all .8s ease-in-out; }
    html .animate-row.active {
      opacity: 1;
      transform: translateY(0); }

/*# sourceMappingURL=main.css.map */
